<div class="app-container-all">
  <div class="app-container">
    <div class="app-header">
      <h1>Team Generator Application</h1>
    </div>
    <div class="app-body-generate">
      <ul>
        <li *ngFor="let member of memberList ">{{member}}</li>
      </ul>
    </div>
    <div class="app-addition">
      <label>Add Name</label>
      <div class="app-addition-input">
        <input #memberValue type="text" placeholder="Enter the member" (input)="onInput(memberValue.value)"
          [value]="newmember">
        <!-- We use [] to allow attribute adjective so we can immediately update the value everytime -->
        <button (click)="addMember()">Add Name</button>
      </div>
    </div>
    <div class="app-divider"></div>
    <div class="app-addition">
      <div class="app-addition-input">
        <input #numberOfTeamss type="number" placeholder="# of teams (No)" (input)="onInputNum(numberOfTeamss.value)"
          [value]="numberOfTeams">
        <button (click)="generateTeams()">Generate</button>
      </div>
    </div>
    <div>
      <p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>
    </div>
    <div class="app-container-second-grid" *ngIf="teams.length">
      <app-team
        *ngFor="let team of teams;let i = index"
        [team] = "team"
        [index] = "i"
      ></app-team>
    </div>
  </div>
</div>